<div class="squares">
    <a data-tab="#logo" class="square square--active"><span>GTD</span></a>
    <a data-tab="#sbor" class="square"><span>Сбор</span></a>
    <a data-tab="#projects" class="square"><span>Проекты</span></a>
    <a data-tab="#context" class="square"><span>Контексты</span></a>
    <a data-tab="#archive" class="square"><span>Архив</span></a>
    <a data-tab="#waiting" class="square"><span>Ждем других</span></a>
    <a data-tab="#later" class="square"><span>Возможно позже</span></a>
    <a data-tab="#calendar" class="square"><span>Календарь</span></a>
    <a data-tab="#one-action" class="square"><span>1 действие</span></a>
</div>
